# 02_data_cleaning.ipynb  
## Data Cleaning and Preparation

### 1. Import Required Libraries  
In this step, we load the essential libraries for data cleaning and manipulation:  
- **pandas** for tabular data structures and analysis  
- **numpy** for numerical operations  
- **pathlib** for portable file path management

In [4]:
import pandas as pd
import numpy as np
from pathlib import Path
import os
import geopandas as gpd

### 2. Define Data Directories  
Set up input (`data/raw`) and output (`data/processed`) paths, ensuring the output folder exists before saving cleaned files.

In [5]:
RAW_DIR = Path('../data/raw')
PROC_DIR = Path('../data/processed')
PROC_DIR.mkdir(parents=True, exist_ok=True)

### 3. Load Raw Datasets  
- **Crime:** CSV file containing NYPD incident records  
- **Weather:** CSV file with daily NOAA observations  
  
Print the file paths for verification, then load both into pandas DataFrames.

In [6]:


# 1) Diagnostics (just to confirm folder structure)
print("Working directory:", os.getcwd())
print("Contents of ../data:",      os.listdir(Path('..') / 'data'))
print("Contents of ../data/raw:",  os.listdir(Path('..') / 'data' / 'raw'))

# 2) Point to the raw folder (where your three files actually live)
RAW_DATA_DIR = Path('..') / 'data' / 'raw'

crime_csv      = RAW_DATA_DIR / 'nypd_crime_2024_onwards.csv'
weather_csv    = RAW_DATA_DIR / 'noaa_ghcnd_2024.csv'
boroughs_geojs = RAW_DATA_DIR / 'nyc_boroughs.geojson'

# 3) Load each dataset
df_crime = pd.read_csv(
    crime_csv,
    parse_dates=['cmplnt_fr_dt'],
    low_memory=False
)
print("Crime rows loaded:", df_crime.shape)

df_weather = pd.read_csv(
    weather_csv,
    parse_dates=['DATE'],
    low_memory=False
)
print("Weather rows loaded:", df_weather.shape)

gdf_boroughs = gpd.read_file(boroughs_geojs)
print("Boroughs loaded:", gdf_boroughs.shape)

Working directory: c:\Users\vinic\nyc-crime-climate-analysis\notebooks
Contents of ../data: ['processed', 'raw']
Contents of ../data/raw: ['noaa_ghcnd_2024.csv', 'nyc_boroughs.geojson', 'nypd_crime_2024_onwards.csv']
Crime rows loaded: (565118, 35)
Weather rows loaded: (366, 151)
Boroughs loaded: (5, 5)


#### 3.1. Preview & Data Types  
- Display the first few rows of each DataFrame for a quick glance.  
- Inspect each column’s data type to determine necessary conversions.

In [7]:
## 3.1. Preview and datatypes
display(df_crime.head())  
display(df_crime.dtypes)

display(df_weather.head())
"display(df_weather.dtypes)"  # fix display below

# %%
# Fix display of df_weather.dtypes
display(df_weather.dtypes)

,cmplnt_num,cmplnt_fr_dt,cmplnt_fr_tm,cmplnt_to_dt,cmplnt_to_tm,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,...,susp_sex,transit_district,latitude,longitude,lat_lon,patrol_boro,station_name,vic_age_group,vic_race,vic_sex
0,298692973,2024-05-25,10:00:00,NaN,(null),67,2024-12-31T00:00:00.000,109,GRAND LARCENY,420.0,...,(null),NaN,40.647974,-73.953491,"(40.647974, -73.953491)",PATROL BORO BKLYN SOUTH,(null),25-44,BLACK,F
1,298695123,2024-10-28,18:00:00,2024-10-28T00:00:00.000,19:00:00,33,2024-12-31T00:00:00.000,233,SEX CRIMES,175.0,...,M,NaN,40.840781,-73.936245,"(40.8407811088581, -73.9362453818218)",PATROL BORO MAN NORTH,(null),25-44,WHITE HISPANIC,F
2,298665519,2024-10-23,00:00:00,2024-10-24T00:00:00.000,00:00:00,70,2024-12-31T00:00:00.000,109,GRAND LARCENY,425.0,...,(null),NaN,40.623789,-73.963023,"(40.623789, -73.963023)",PATROL BORO BKLYN SOUTH,(null),UNKNOWN,UNKNOWN,D
3,298692956,2024-09-21,01:00:00,2024-12-30T00:00:00.000,23:00:00,60,2024-12-31T00:00:00.000,578,HARRASSMENT 2,638.0,...,F,NaN,40.588192,-73.987785,"(40.588192, -73.987785)",PATROL BORO BKLYN SOUTH,(null),25-44,WHITE,M
4,298697962,2024-09-27,19:30:00,2024-12-28T00:00:00.000,18:16:00,83,2024-12-31T00:00:00.000,109,GRAND LARCENY,402.0,...,U,NaN,40.699565,-73.935779,"(40.699565, -73.935779)",PATROL BORO BKLYN NORTH,(null),25-44,WHITE,M

cmplnt_num                   object
cmplnt_fr_dt         datetime64[ns]
cmplnt_fr_tm                 object
cmplnt_to_dt                 object
cmplnt_to_tm                 object
addr_pct_cd                   int64
rpt_dt                       object
ky_cd                         int64
ofns_desc                    object
pd_cd                       float64
pd_desc                      object
crm_atpt_cptd_cd             object
law_cat_cd                   object
boro_nm                      object
loc_of_occur_desc            object
prem_typ_desc                object
juris_desc                   object
jurisdiction_code             int64
parks_nm                     object
hadevelopt                   object
housing_psa                 float64
x_coord_cd                  float64
y_coord_cd                  float64
susp_age_group               object
susp_race                    object
susp_sex                     object
transit_district            float64
latitude                    float64
longitude                   float64
lat_lon                      object
patrol_boro                  object
station_name                 object
vic_age_group                object
vic_race                     object
vic_sex                      object
dtype: object

,STATION,DATE,ACMC,ACMH,ACSC,ACSH,ADPT,ASLP,ASTP,AWBT,...,WT22,WV01,WV03,WV07,WV18,WV20,alt,station_info,station_name,time
0,USW00094728,2024-01-01,NaN,NaN,NaN,NaN,-11.0,10166.0,10115.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00094728,2024-01-02,NaN,NaN,NaN,NaN,-61.0,10176.0,10125.0,-6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00094728,2024-01-03,NaN,NaN,NaN,NaN,-44.0,10159.0,10108.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00094728,2024-01-04,NaN,NaN,NaN,NaN,-61.0,10159.0,10112.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00094728,2024-01-05,NaN,NaN,NaN,NaN,-100.0,10240.0,10190.0,-33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

STATION                 object
DATE            datetime64[ns]
ACMC                   float64
ACMH                   float64
ACSC                   float64
                     ...
WV20                   float64
alt                    float64
station_info           float64
station_name           float64
time                   float64
Length: 151, dtype: object

### 4. Convert Date & Time Columns  
- **Crime:** Merge date (`CMPLNT_FR_DT`) and time (`CMPLNT_FR_TM`) into a single `complaint_datetime` column, and extract a separate `date` field.  
- **Weather:** Parse the `DATE` column into a standardized `date` field.

In [8]:
# 4.1. Convert crime date/time
# Combine date and time into full datetime and create a separate date column

df_crime['complaint_datetime'] = pd.to_datetime(
    df_crime['CMPLNT_FR_DT'].astype(str) + ' ' + df_crime['CMPLNT_FR_TM'].astype(str),
    errors='coerce'
)
df_crime['date'] = df_crime['complaint_datetime'].dt.date

KeyError: 'CMPLNT_FR_DT'

In [ ]:
# %%
# 4.2. Convert weather date
df_weather['date'] = pd.to_datetime(df_weather['DATE'], errors='coerce').dt.date

In [ ]:
## 5. Normalize column names to snake_case

# %%
# Rename crime columns
mapping_crime = {
    'CMPLNT_FR_DT': 'complaint_date',
    'CMPLNT_FR_TM': 'complaint_time',
    'CMPLNT_TO_DT': 'complaint_to_date',
    'CMPLNT_TO_TM': 'complaint_to_time',
    'ADDR_PCT_CD': 'precinct_code',
    'KY_CD': 'offense_code',
    'OFNS_DESC': 'offense_desc',
    'BORO_NM': 'borough',
    'LAW_CODE': 'law_code',
    'LAW_CAT_CD': 'law_category',
    # add more as needed
}

df_crime = df_crime.rename(columns=mapping_crime)

# Rename weather columns
mapping_weather = {
    'DATE': 'date_recorded',
    'TMAX': 'temp_max',
    'TMIN': 'temp_min',
    'PRCP': 'precipitation',
    # add more based on your CSV
}

df_weather = df_weather.rename(columns=mapping_weather)

In [ ]:

# %%
# 6.1. Missing percentage in crime
df_crime_missing = df_crime.isna().mean().sort_values(ascending=False) * 100
display(df_crime_missing.head(10))

In [ ]:
# 6.2. Missing percentage in weather
df_weather_missing = df_weather.isna().mean().sort_values(ascending=False) * 100
display(df_weather_missing.head(10))

In [ ]:

# %%
# 6.3. Simple imputation example for weather
# Fill missing precipitation with 0 (assuming missing means no rain)
df_weather['precipitation'] = df_weather['precipitation'].fillna(0)

In [ ]:

# %%
# 6.4. Drop crime rows with invalid dates
df_crime = df_crime.dropna(subset=['complaint_datetime', 'date'])

In [ ]:
## 7. Filter analysis period


# %%
start_date = pd.to_datetime('2018-01-01').date()
end_date   = pd.to_datetime('2022-12-31').date()

df_crime = df_crime[(df_crime['date'] >= start_date) & (df_crime['date'] <= end_date)]
df_weather = df_weather[(df_weather['date'] >= start_date) & (df_weather['date'] <= end_date)]

print(f"Crime records between {start_date} and {end_date}: {len(df_crime)}")
print(f"Weather records between {start_date} and {end_date}: {len(df_weather)}")

In [ ]:
## 8. Save cleaned datasets

# %%
clean_crime_file = PROC_DIR / 'crime_clean.csv'
clean_weather_file = PROC_DIR / 'weather_clean.csv'

df_crime.to_csv(clean_crime_file, index=False)
df_weather.to_csv(clean_weather_file, index=False)

print(f"Saved cleaned crime data to: {clean_crime_file}")
print(f"Saved cleaned weather data to: {clean_weather_file}")